nav {
    float:right;
    clear:right;
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
            float:left;
            a{
                display: block;
                text-align: center;
                padding: 3px 30px;
                font-size: 25px;
                color: #79CDCD;
                text-decoration: none;
                font-weight: bold;
                transition: color 400ms;
            }

            a:hover{
                color: #CD5555;
            }
            a.active{
                color: #FFA824;
            }
        }
    }

}