@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Permanent+Marker');
$header_font: 'Permanent Marker', cursive;

$body_font: 'Cutive Mono', monospace;
$body_font_size: 11px;

*{
    box-sizing: border-box;
}

body{
    padding:0;
    margin:0;
    font-family: $body_font;
}

header {
    width: 100%;
    padding: 20px;
    .heading {
        font-family: $header_font;
        padding: 0;
        margin:0;
        box-sizing: border-box;       
        color:#79CDCD;
        float:left;
    }
}
h1,h2,h3,h4,h5,h6{
    font-family: $header_font;
}
@import 'nav';
main{
    width:80%;
    box-sizing: border-box;
    padding:20px;
    margin: 20px auto;
}
.bigImage{
    width: 60%;
    height:auto;
    margin: 40px 0;

}
.bodyFont{
    font-size: 20px;
}
/*
footer,main,.heading,.bigImage{
    float: left;
    clear:both;
}*/